# プロジェクトの除外パス
/.gradle/
/build/
/build/classes/java/main/
/manaitaSrc/common/build/

/manaitaSrc/fabric/build/
/manaitaSrc/fabric/.gradle/
/manaitaSrc/fabric/runs/

/manaitaSrc/forge/build/
/manaitaSrc/forge/runs/

/manaitaSrc/neoforge/build/
/manaitaSrc/neoforge/run/

/buildSrc/.gradle/
/buildSrc/build/
/.idea/
